* {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */
header {
    width: 100%;
    height: 60px;
    /*Editalo*/
    line-height: 60px;
    text-align: center;
    font-family: sans-serif;
    background-color: #ffffff;

}

.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
    color: #fff;
}

.brand img {
    width: 150px;
    height: auto;

}

/* Navigation */
.menu {
    width: 60%;
    height: 100%;
    float: right;
}

.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li a {
    color: #000;
}


.menu ul li {
    width: 20%;
    height: inherit;
    display: inline-block;
}

.menu ul li:hover {
    background-color: #9eeaff;
    color: #4b4b4b;
    border-radius: 15px;
    transition: all 1s;
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 30px;
}

/*BODY*/
.hero-panel {
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    height: 640px;
}

.hero-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-panel h1 {
    position: absolute;
    font-size: 4rem;
    color: #FFFFFF;
    top: 20%;
    left: 50%;
    transform: translateX(-90%);
    text-align: center;
    font-weight: 500;
}

.programa_intro {
    display: grid;
    grid-template-columns: 1fr auto;
    /* Primera columna para el texto, segunda columna para la imagen */
    column-gap: 2rem;
    /* Espacio entre las columnas */
    align-items: center;
    /* Alinea verticalmente en el centro */
    margin: 10px 50px;
    padding: 10px 10px;
}

.programa_intro .programa__imagen img {
    width: 400px;
    height: auto;
}

.programa_intro .programa__texto h2,
.card-container .card .card-title h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5
}

.programa_intro .programa__texto p,
.card-container .card .body p {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.text_content {
    margin: 0px 50px;
    padding: 30px 10px;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.text_content h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5
}

.text_content p {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /*Los cuadros que no quepan los pase para abajo*/
    justify-content: center;
    /*border: 1px solid #333;*/
    max-width: 1100px;
    margin: 1rem auto 1rem auto;
}

.card {

    width: 300px;
    padding: 0.5rem;
    /*box-shadow: 3px 3px 5px #777;*/
    box-shadow: 3px 0px 0.5px #000;
    /*Sirve para aplicar sombra*/
    margin: 1rem;
}

/*******************************FOOTER**********************************/
footer {
    width: 100%;
    background-color: #c5c5c5;
}

footer .grupo_1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo_1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo_1 .box figure img {
    width: 250px;
}

footer .grupo_1 .box h2 {
    color: #3a3a3a;
    margin-bottom: 25px;
    font-size: 20px;
}

footer .grupo_1 .box p a {
    color: #3a3a3a;
    margin-bottom: 10px;
}

footer .grupo_1 .box p a:hover {
    color: #2a9fc0;
    transition: all 0.7s;
}

footer .grupo_1 .box .red_social a img {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    align-items: center;
}

footer .grupo_1 .box .red_social a img:hover {
    transform: scale(1.2);
    transition: all 0.1s;
}

footer .grupo_2 {
    background-color: #b1b1b1;
    padding: 15px 10px;
    text-align: center;
    color: #FFFFFF;
}

/* navigation < 768px*/
@media screen and (max-width: 896px) {
    .menu {
        width: 100%;
        height: auto;
    }

    .menu ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
    }

    .menu ul li {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        padding: 10px 0px 10px 5%;
    }

    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        line-height: 60px;
    }

    #menuToggle:checked~ul {
        max-height: 350px;
    }

    .menu-icon img {
        font-size: 1.7em;
        color: #fff;
    }

    /*BODY*/
    .hero-panel h1 {
        transform: translateX(-50%);
    }

    .programa_intro {
        display: block;
        padding: 10px 50px;
    }

    .programa_intro .programa__imagen {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .programa_intro .programa__imagen img {
        max-width: 100%;
        height: auto;
    }

    /*FOOTER*/
    footer .grupo_1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/* desktop */
@media screen and (min-width: 1025px) {
    body {
        max-width: 1200px;
        margin: 0px auto;
    }
}